@charset "UTF-8";
/* import */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* import variables */
/* import mixin */
/*  mixin flex*/
/* estilos */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 8px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-menu li {
  margin-right: 20px;
}
.navbar-menu a {
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: #333;
}
.navbar-menu a ::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fe902f;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
.navbar-menu a :hover::after {
  transform: scaleX(1);
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right a {
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.navbar-right a :hover {
  transform: scale(1.1);
}

/* BUTTONS */
.btn {
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-primary {
  font-weight: bold;
  color: #000;
  background-color: white;
  border: #000 solid 1px;
}
.btn-primary :hover {
  background-color: black;
  color: white;
}

.btn-secondary {
  font-weight: bold;
  background-color: #fe902f;
  border: #fe902f solid 2px;
}
.btn-secondary :hover {
  background-color: white;
  color: #fe902f;
  border: #fe902f solid 2px;
}

.d-flex {
  gap: 10px;
}

.nav-cart {
  height: 24px;
}

/* HEADER - LOGO */
.navbar-brand img {
  height: 40px;
}

.navbar-movil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* INDEX - STYLES */
.header-slider {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.header-img {
  display: flex;
  width: 300%; /* 100% por cada imagen, y tienes 3 imágenes */
  height: 100vh;
  animation: slide 15s infinite;
}
.header-img img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, #000000 83%, transparent 100%);
}

.slide {
  position: relative;
  width: 100vw; /* Cada imagen ocupa el 100% del contenedor */
  height: 100vh;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100vw);
  }
  53.33% {
    transform: translateX(-100vw);
  }
  66.66% {
    transform: translateX(-200vw);
  }
  86.66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}

.caption {
  position: absolute;
  top: 33.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  display: none;
}
.caption span {
  font-weight: bold;
  font-size: 300%;
}

/* MENU + SHOPS - STYLES */
.header-menu {
  text-align: left;
  margin-top: 20px;
  padding: 0.625em 1.25em 0 3.125em;
}
.header-menu h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.header-menu p {
  font-size: 1em;
  color: #666;
}

.menu {
  width: 100%;
  overflow: hidden;
  padding: 20px 25px 0 25px;
}

.menu-shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.item {
  width: 30%;
  display: inline-block;
  margin: 0 1.5% 30px;
  box-sizing: border-box;
  text-align: left;
  border: 0.1px solid rgba(254, 144, 47, 0.5019607843);
  border-radius: 15px;
  padding: 30px;
  vertical-align: top;
}
.item img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.item h2 {
  font-size: 1.2em;
  margin-top: 10px;
}
.item p {
  font-size: 0.9em;
}
.item button {
  background-color: rgba(254, 144, 47, 0);
  font-weight: bold;
  font-size: large;
  color: #fe902f;
  width: 100%;
  padding: 10px 20px;
  border: #fe902f 2px solid;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.item button :hover {
  color: white;
  background-color: #fe902f;
  transition: 0.7s;
}

.item-shops {
  height: 90%;
  width: auto;
}

/* SIGN IN - STYLES */
.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.login-logo img {
  max-width: 150px;
  margin-bottom: 20px;
  width: 25%;
}

.login-form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

/* SIGN IN - FORM */
.input-group {
  margin-bottom: 15px;
}
.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #fe902f; /* Color verde estilo Shake Shack */
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.login-button :hover {
  background-color: #df7e29;
}

.forgot-password a {
  color: #fe902f;
  text-decoration: none;
}
.forgot-password a :hover {
  text-decoration: underline;
}

/* ORDER - STYLES */
.clear-cart {
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.clear-cart :hover {
  color: #fe902f;
}

.products-section {
  border-bottom: 1px solid rgba(221, 221, 221, 0.3960784314);
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.product-item {
  overflow: hidden;
  margin: 15px auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 0.1px solid rgba(254, 144, 47, 0.5019607843);
  border-radius: 15px;
  padding: 20px;
}

.product-image {
  display: flex;
  width: 200px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.product-price {
  display: flex;
  justify-content: end;
  width: 15%;
  font-weight: bold;
}

.product-quantity {
  display: flex;
  justify-content: end;
  width: 15%;
}

.quantity-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.quantity-value {
  display: flex;
  justify-content: center;
  width: 20px;
  margin: 3px;
}

.summary-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo-code {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.promo-code input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  outline: none;
}

.promo-code button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.promo-code button :hover {
  background-color: #fe902f;
}

.total-summary {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}

.total-summary p,
.total-summary h3 {
  margin: 0;
  padding: 5px 0;
}

.checkout-btn {
  width: 26%;
  background-color: #fe902f;
  color: #000;
  padding: 20px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  margin: 20px 0 20px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.checkout-btn :hover {
  background-color: #df7e29;
}

/* FOOTER - STYLES */
footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer-section h4 {
  margin-bottom: 15px;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section ul li a {
  font-size: small;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a :hover {
  color: #fe902f;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.newsletter-form input[type=email] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

.newsletter-form button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.newsletter-form button :hover {
  background-color: #fe902f;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 5px;
  font-size: small;
}
.footer-bottom-links a :hover {
  color: #fe902f;
}

.copy {
  margin-top: 15px;
}

/* Teléfonos móviles (Paisaje) */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .caption {
    display: block;
  }
  .navbar-movil {
    width: 100%;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
  }
  .item {
    width: 100%; /* Para 2 columnas en pantallas más pequeñas */
  }
  .header-menu {
    padding: 0.5rem 1rem 0 2rem;
  }
}
/* Teléfonos móviles (Retrato) */
@media (max-width: 413px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .caption {
    display: block;
  }
  .footer-section:not(:last-child) {
    display: none;
  }
  .navbar-movil {
    width: 100%;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-menu a::after {
    transform-origin: bottom right;
  }
  .item {
    width: 100%;
  }
  .header-menu {
    padding: 0.5rem 1rem 0 2rem;
  }
  .menu-shop {
    grid-template-columns: 1fr;
  }
  /* SIGN IN  */
  .product-item {
    width: 100%;
    display: flex;
    margin: 15px 0 15px;
    box-sizing: border-box;
    flex-direction: column;
    border: 0.1px solid rgba(254, 144, 47, 0.5019607843);
    border-radius: 15px;
    padding: 20px;
  }
  .product-image {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
  .product-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .product-price {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .product-quantity {
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 414px) and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .caption {
    display: block;
  }
  .footer-section:not(:last-child) {
    display: none;
  }
  .navbar-movil {
    width: 100%;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
  }
  .item {
    width: 100%; /* Para 2 columnas en pantallas más pequeñas */
  }
  .header-menu {
    padding: 0.5rem 1rem 0 2rem;
  }
  /* SIGN IN  */
  .product-item {
    width: 100%;
    display: flex;
    margin: 15px 0 15px;
    box-sizing: border-box;
    flex-direction: column;
    border: 0.1px solid rgba(254, 144, 47, 0.5019607843);
    border-radius: 15px;
    padding: 20px;
  }
  .product-image {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
  .product-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .product-price {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .product-quantity {
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
/* Tabletas (Retrato) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .caption {
    display: block;
  }
  .navbar-movil {
    width: 100%;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
  }
  .item {
    width: 46%;
  }
  .header-menu {
    padding: 0.5rem 1rem 0 2rem;
  }
}
/* Tabletas (Paisaje) */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 17px;
  }
}/*# sourceMappingURL=styles.css.map */