/* Tabletas (Retrato) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .caption {
    display: block;
  }
  .navbar-movil {
    width: 100%;
  }
  .nav-link {
    display: flex;
    justify-content: flex-end;
  }
  .item {
    width: 46%;
  }
  .header-menu {
    padding: 0.5rem 1rem 0 2rem;
  }
}
